---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre este projeto"
	description="Esse projeto visa a distribuição gratuita de informação e campanhas para os Hemocentros do Brasil. Por não ser um projeto tão visado, ele está sendo hosteado gratuitamente através do Github Pages."
	pubDate={new Date('October 04 2023')}
	heroImage="/campanhas_do_sangue/blog-placeholder-about.jpg"
>
	<p>
		Esse projeto visa a distribuição gratuita de informação e campanhas para os Hemocentros do Brasil. 
		Por não ser um projeto tão visado, ele está sendo hosteado gratuitamente através do Github Pages.
	</p>

	<p>
		Quer me ajudar? <a target="_blank" href="https://www.buymeacoffee.com/gustavinhoa">Compre um cafezinho para mim</a>.
	</p>
</Layout>
