---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_FAVICON } from "../consts";
---

<header>
	<nav>
		<h2>
			<a class="title" href="/campanhas_do_sangue/"
				><img class="icon" src={SITE_FAVICON} alt="" />{SITE_TITLE}</a
			>
		</h2>
		<div class="menu-toggle">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="internal-links">
			<HeaderLink href="/campanhas_do_sangue/">Página inicial</HeaderLink>
			<HeaderLink href="/campanhas_do_sangue/brasil">Brasil</HeaderLink>
			<HeaderLink href="/campanhas_do_sangue/hemoce">Hemoce</HeaderLink>
			<HeaderLink href="/campanhas_do_sangue/about">Sobre</HeaderLink>
		</div>
	</nav>
	<div class="mobile-menu">
		<HeaderLink href="/campanhas_do_sangue/">Página inicial</HeaderLink>
		<HeaderLink href="/campanhas_do_sangue/brasil">Brasil</HeaderLink>
		<HeaderLink href="/campanhas_do_sangue/hemoce">Hemoce</HeaderLink>
		<HeaderLink href="/campanhas_do_sangue/about">Sobre</HeaderLink>
	</div>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.title {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: flex-start;
	}
	.icon {
		width: 5%;
	}

	.mobile-menu {
		display: none;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	/* Estilos para dispositivos móveis */
	@media screen and (max-width: 768px) {
		.internal-links {
			display: none;
		}

		.menu-toggle {
			display: block;
			cursor: pointer;
		}

		.mobile-menu {
			flex-direction: column;
			display: none;
		}
		.mobile-menu.show {
			display: flex;
		}
		.menu-toggle .bar {
			width: 30px;
			height: 3px;
			background-color: #333;
			margin: 6px 0;
			transition: 0.4s;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const menuToggle = document.querySelector(".menu-toggle");
		const mobileMenu = document.querySelector(".mobile-menu");
		menuToggle?.addEventListener("click", () => mobileMenu?.classList.toggle("show"));
	});
</script>
